html{
	background-image: url(back.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
}



header {
    text-align: center;
}



nav ul {
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}



section#about,
section#products {
    padding: 20px;
    text-align: center;

}


.div {
    display: inline-block;
    margin: 30px;
    width: 300px;
    text-align: center;
    border: #ffea00;
	border-style:solid;
    background-color: aquamarine;

}




td{
    padding: 50px;
    background-color: bisque;
}

input[id=pay]{
	background-color: #000000b3;
	color: white;
	border:none;
	border-radius: 20px;
	outline: none;
	text-align: center;
	height: 50px;
	width: 250px;
	margin: 5px;
}

 
input[id=pay]:hover{
	outline: none;
	background-color:#000000b3;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.45), 0 6px 20px 0 rgba(0,0,0,0.19);  
}





